
@font-face
{
    font-family: 'Industry';
    src: local('Industry-Book'),url('Industry-Book.otf') format('opentype');
}


@font-face
{
    font-family: 'Industry-Bold';
    src: local('Industry-Bold'),url('Industry-Bold.otf') format('opentype');
}


iframe{
    width:100%; height:200px;
    
}

a{
    color:black
}

.title{
    font-size: 16px;
    font-family: 'Industry-Black';
}

.subhead{
    font-size: 15px;
    padding:0px;
    margin:0px;
}


.psmall{
    font-size: 16px;
}

figure{
    width:100%;
    margin:0px;
}

html{
    margin:0px;
    padding:0px;
    -webkit-text-size-adjust: 100%;
    font-size: 20px;
    background: #fff;
    
}
body{
    margin:0px;
    padding:10px;
    font-family: 'Industry';
    background: #fff;
}

#divContainer{
    font-family: 'Industry';
    padding:0px;
    margin:0px;
    font-size: 20px;
}

h1, h2, h3, h4{
    font-family: 'Industry-Bold';
}

img{
    border:2px solid #938983;
    padding:0px;
    max-width: 98%;
    width:auto;
    height:auto;
    margin: 0 auto;
}


