
@font-face
{
    font-family: 'Industry';
    src: local('Industry-Book'),url('Industry-Book.otf') format('opentype');
}


@font-face
{
    font-family: 'Industry-Bold';
    src: local('Industry-Bold'),url('Industry-Bold.otf') format('opentype');
}

@font-face
{
    font-family: 'Industry-Medium';
    src: local('Industry-Medium'),url('Industry-Medium.otf') format('opentype');
}

iframe{
    width:100%; height:200px;
    
}

a{
    color:black
}




.psmall{
    font-size: 12px;
}

.title{
    font-size: 16px;
    font-family: 'Industry-Black';
}

.subhead{
    
    font-family: 'Industry-Medium';
    font-size: 15px;
    padding:0px;
    margin:0px;
}

figure{
    width:100%;
    margin:0px;
}

html{
    margin:0px;
    padding:0px;
    -webkit-text-size-adjust: 100%;
    font-size: 12px;
    background:transparent;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Industry';
    background:transparent;
}

#divContainer{
    font-family: 'Industry';
    padding:0px;
    margin:0px;

}

h1, h2, h3, h4{
        font-family: 'Industry-Bold';
}

div{
    background:transparent;
    margin: 10px 0px;
}

p{
    margin: 10px 0px;
}

img{
    display: block;
    max-width: 98%;
    width:auto;
    height:auto;
    margin: 10px auto;
   
}

.header{
    width:100%;
    margin:0px 0px 25px 0px;
}

.headerContent{
    width:100%;
    margin:0px 0px 30px 0px;
}



.authorHeader{
    margin: 0px 0px 0px 0px;
    left:8px;
    float:left;
    font-size:14px;
    width:50%;
      font-family: 'Industry-Medium';
    text-align:left;
}

.dateHeader{

    margin: 0px 0px 0px 0px;
    right:8px;
    float:right;
    font-size:14px;
    width:50%;
    text-align:right;
      font-family: 'Industry-Medium';
}

.readmore{
    font-family: 'Industry-Medium';
    color:#657136;
}
